:root {
    --color-main: #f4f1e9;
    --color-btn-drink: #efe8de;
    
    --color-text-primary: #76685c;
    --color-text-secondary: #a08e7e;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: var(--color-main);
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: var(--color-main);
    padding: 25px 20px;
    border-radius: 20px;
    text-align: center;
    position: relative;
    width: 300px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}

#btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #000000;
}

#btn-close:hover {
    color: #00000074;
}